.header{
    display: grid;
    height: 100px;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255,255,255)
}
#logo{
    margin-left:10px;
    width:220px;
    height:100px;
}
#signbutton{
    position:absolute;
    top:40px;
    right:40px;
}
#myinfo{
    position:absolute;
    top:70px;
    right:40px;
    font-size:14px;
    font-weight:500;
    color:rgb(60, 120, 165);
    background-color: rgb(255,255,255);
    text-decoration:none
}
#myinfo:hover{
    cursor:pointer;
    color:rgb(255,255,255);
    background-color: rgb(60, 120, 165);
}