.icontainer{
    display:grid;
    margin-top:100px;
    grid-template-columns: 1fr;
}
#innerboard{
    background-color:rgb(255,255,255);
    margin:1px ;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items:center;
    align-items:center;
}

/* #postlist{
    background-color:rgb(255,255,255);
    border: 0.5px solid rgb(240, 240, 240);
    width:90%;
    height:80%;
} */