.logincontainer{
    margin-top:100px;
    display:grid;
    justify-content:center;
    align-items:center;
}
#input{
    background-color:rgb(253,253,253);
    height:50px;
    width:300px;
    border: 1px solid #bcbcbc;
    padding-left:25px;
    padding-right:25px;
    font-family: sans-serif;
    
}
#space{
    height:20px;
}